<!-- Parallax Effect --> 
<script type="text/javascript">$(document).ready(function(){$('#parallax-pagetitle').parallax("50%", -0.55);});</script>
<section class="parallax-effect">
  <div id="parallax-pagetitle" style="background-image: url(/images/parallax/parallex1.jpg);">
    <div class="color-overlay"> 
      <!-- Page title -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ol class="breadcrumb">
              <li><a href="<%= new_user_session_path %>">Login</a></li>
              <li class="active">SignUp</li>
            </ol>
            <h1>SignUp</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Elements --> 

<!-- Buttons -->
<section class="buttons">
  <div class="container">
    <div class="row">
      <div class="col-md-6  mt50">
        <h3 class="lined-heading"><span>SignUp</span></h3>
        <div class="card card-container">
        <%= image_tag("user.png",id: "profile-name", class: "profile-img-card") %> 
            <p id="profile-name" class="profile-name-card"></p>
            <%= simple_form_for(resource, as: resource_name,html: {class: 'form-signin' }, url: registration_path(resource_name)) do |f| %>
                    <%= f.error_notification %>
            
                <span id="reauth-email" class="reauth-email"></span>
                <%= f.input :name,label: false, required: true,input_html: {class: "form-control"},wrapper: false, placeholder: "Name"%>
                <%= f.input :email,label: false, required: true,input_html: {class: "form-control"},wrapper: false, placeholder: "Email"%>
                <%= f.select(:user_type, ['Admin','User'], {}, { :class => 'form-control option',:type => "hidden" }) %><br>
                <%= f.input :password, required: true,input_html: {class: "form-control"},wrapper: false, placeholder: "Password",label: false%>
                <%= f.input :password_confirmation, required: true,input_html: {class: "form-control"},wrapper: false, placeholder: "Confirm Password",label: false%>
                <div class="form-group">
            <%= recaptcha_tags %>
          </div>
                <div class="btn btn-primary btn-file btn-block">
                            <i class="glyphicon glyphicon-folder-open"></i>
                             Upload Your Profile Picture
                             <%= f.input :image, required: true, as: :file,input_html: {class: "file"},wrapper: false,label: false %>
                            
                            </div>
                
                <button class="btn btn-lg btn-primary btn-block " type="submit">Sign Up</button>
            <% end %><!-- /form -->
            <p>Already have account?<a href="<%= new_user_session_path %>" class="forgot-password">
                Login
            </a> </p>
        </div><!-- /card-container -->
    </div>
    <div class="col-md-6 mt50">
        <h3 class="lined-heading"><span>Why choose AHA­Rooms ?</span></h3>
        <div class="card card-container">
        <%= image_tag("whychoose.png",id: "profile-img", class: "profile-img-card") %> 
            
            <p id="profile-name" class="profile-name-card"></p>
            <h3>Guaranteed Features in all AHA­Rooms:</h3><br>
            <p><i class="fa fa-globe fa-lg"></i>&nbsp;Unlimited Wi­Fi</p>
            <p><i class="fa fa-globe fa-lg"></i>&nbsp;Comfortable Beds</p>
            <p><i class="fa fa-globe fa-lg"></i>&nbsp;Clean wash rooms</p>
            <p><i class="fa fa-globe fa-lg"></i>&nbsp;Complimentary Breakfast</p>
            <p><i class="fa fa-globe fa-lg"></i>&nbsp;SAT TV</p>
            <p>And many more....</p>
            <p>Stay Smart!</p>
        </div><!-- /card-container -->
    </div>
    
  </div>
</section>
<script src='https://www.google.com/recaptcha/api.js'></script>

























