<%= stylesheet_link_tag    'admin', media: 'all' %>
  
  <%= csrf_meta_tags %>

<% flash.each do |name,msg|%>
                <%= content_tag :div, msg, class: "alert alert-danger flash-popup", role: "alert" %>
                <% end %>
 <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <%= render 'layouts/navbar' %>
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->
                    <!-- SEARCH -->
                      
                    <!-- END SEARCH -->
                    <!-- SIGN OUT -->
                    <li class="xn-icon-button pull-right">
                        <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                                                
                    </li> 
                    <!-- END SIGN OUT -->
                    <!-- MESSAGES -->
                   
                    <!-- END MESSAGES -->
                    <!-- TASKS -->
                    
                    <!-- END TASKS -->
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                     

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><%= link_to "Home", admin_path %></li>                    
                    <li class="active">Rooms</li>
                </ul>
                <!-- END BREADCRUMB -->  
                <div class="page-title">                    
                    <h2></span><%= @room.title %></h2>
                    
                </div>
                <div class="page-title">
                    <h3></span>Room No <%= @room.room_no %></h3>
                </div>
                <div class="page-content-wrap">
                 <div class="row">
                        <div class="col-md-9">
                            
                            <div class="panel panel-default">
                                <div class="panel-body posts">
                                            
                                    <div class="post-item">
                                        
                                        <div class="post-date"><span class="fa fa-calendar"></span> <%= @room.created_at.strftime("%A, %B %d") %>  / by <%= @room.hotel.user.name %></div>
                                        <% @room.room_images.each do |im| %>
                                        <div class="post-text">                                            
                                            <%= image_tag im.image.url(:medium), class: "img-text post-image" %>
                                           <%= link_to "Remove", admin_image_delete_path(id: im.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-rounded btn-sm" %>
                                           <br><br>
                                           
                                        </div>
                                        <% end %>
                                        
                                    </div>                                            
                                       
                                    
                                                                       
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-3">

                            
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3>Room Detail</h3>
                                        <i >Hotel: <%= @room.hotel.name %></i><br>
                                        <i >Dicount: <%= @room.discount %>%</i><br>
                                        <i >Total Beds: <%= @room.total_beds %></i><br>
                                        <i >People Limit: Maximum <%= @room.total_people %></i><br>
                                        <i >Meal: <%= @room.meal %> Times</i><br>
                                        <i >Rate: <%= @room.rate %> Per Night</i><br>
                                        <i >Rate after Discount: <%= @room.rate_after_disc %> Per Night</i>
                                        
                                        
                                    
                                </div>
                            </div>
                            
                            
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3>Features</h3>
                                    <ul class="list-tags push-up-10">
                                    <% @room.features.each do |fe| %>
                                        <li><a><span class="fa fa-tag"></span> <%= fe.name %></a></li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>                            
                            
                        </div>
                    </div>
                 </div>
                </div>                   
             </div>
             </div>

                   
                   
               

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if you want to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <%=link_to "Yes", destroy_user_session_path, method: :delete, class: "btn btn-success btn-lg" %>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%= javascript_include_tag 'admin' %>