<p id="notice"><%= notice %></p>

<p>
  <strong>No of rooms:</strong>
  <%= @reservation.no_of_rooms %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @reservation.total_price %>
</p>

<p>
  <strong>Check in date:</strong>
  <%= @reservation.check_in_date %>
</p>

<p>
  <strong>Check out date:</strong>
  <%= @reservation.check_out_date %>
</p>

<p>
  <strong>Room:</strong>
  <%= @reservation.room_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
