<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <% if @user.user_type == "User" %>
    <p>

      Thanks for using us,we will contact you soon.
      Your reservation detail is here.
    </p>
    <% else %>
    <p>

      Someone just book the room in your hotel,feel free to contact him.
      Reservation detail is here.
    </p>
    <div class="page-content-wrap">
                 <div class="row">
                        <div class="col-md-12">
                            
                            
                            <p>
  <strong>No of rooms:</strong>
  <%= @reservation.no_of_rooms %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @reservation.total_price %>
</p>

<p>
  <strong>Check in date:</strong>
  <%= @reservation.check_in_date.strftime("%B #{@reservation.check_in_date.day.ordinalize}, %Y") %>
</p>

<p>
  <strong>Check out date:</strong>
  <%= @reservation.check_out_date.strftime("%B #{@reservation.check_out_date.day.ordinalize}, %Y") %>
</p>

<p>
  <strong>Room:</strong>
  <%= link_to "#{@reservation.room.room_no}",admin_room_show_path(id: @reservation.room.id) %>
  
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user.name %>
</p>
<p>
  <strong>User email:</strong>
  <%= @reservation.user.email %>
</p>
<p>
  <strong>Hotel:</strong>
  <%= link_to "#{@reservation.room.hotel.name}",admin_hotel_show_path(id: @reservation.room.hotel.id) %>
  
</p>



                            
                        </div>
                    </div>  
                </div>   
  </body>
</html>