<script type="text/javascript">$(document).ready(function(){$('#parallax-pagetitle').parallax("50%", -0.55);});</script>
<section class="parallax-effect">
  <div id="parallax-pagetitle" style="background-image: url(/images/parallax/parallex1.jpg);">
    <div class="color-overlay"> 
      <!-- Page title -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ol class="breadcrumb">
              <li><a href="<%= root_url %>">Home</a></li>
              <li class="active">Login</li>
            </ol>
            <h1>Login</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Elements --> 

<!-- Buttons -->
<section class="buttons">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt50">
        <h3 class="lined-heading"><span>Login</span></h3>
        <div class="card card-container">
            <%= image_tag("user.png",id: "profile-name", class: "profile-img-card") %> 
            <p id="profile-name" class="profile-name-card"></p>
            <%= simple_form_for(resource, as: resource_name,html: {class: 'form-signin' }, url: session_path(resource_name)) do |f| %>
                    <%= f.error_notification %>
            <form class="form-signin">
                <span id="reauth-email"  class="reauth-email"></span>
                <%= f.input :email,label: false, required: true,input_html: {class: "form-control"},wrapper: false, placeholder: "Email"%>
                
                <%= f.input :password,label: false, required: true,input_html: {class: "form-control"},wrapper: false, placeholder: "Password"%>
                <button class="btn btn-lg btn-primary btn-block " type="submit">LogIn</button>
            <% end %><!-- /form -->
            <a href="<%= new_password_path(resource_name) %>" class="forgot-password">
                Forgot the password?
            </a><br><br>
            <p> Don't have account Yet?</p>
            <p>Click here create a  <a href="<%= new_user_registration_path %>" class="forgot-password">
                new account
            </a> Now</p>
        </div><!-- /card-container -->
    </div>
    <div class="col-md-6 mt50">
        <h3 class="lined-heading"><span>Why choose AHA­Rooms ?</span></h3>
        <div class="card card-container">
        <%= image_tag("whychoose.png",id: "profile-img", class: "profile-img-card") %>
            <p id="profile-name" class="profile-name-card"></p>
            <h3>Guaranteed Features in all AHA­Rooms:</h3><br>
            <p><i class="fa fa-globe fa-lg"></i>&nbsp;Unlimited Wi­Fi</p>
            <p><i class="fa fa-globe fa-lg"></i>&nbsp;Comfortable Beds</p>
            <p><i class="fa fa-globe fa-lg"></i>&nbsp;Clean wash rooms</p>
            <p><i class="fa fa-globe fa-lg"></i>&nbsp;Complimentary Breakfast</p>
            <p><i class="fa fa-globe fa-lg"></i>&nbsp;SAT TV</p>
            <p>And many more....</p>
            <p>Stay Smart!</p>
        </div><!-- /card-container -->
    </div>
    
  </div>
</section>
































            


