<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
      <!-- Logo -->
        <div id="logo"> 
        
        <%= image_tag("Logo1.jpg", :alt => "AHA Rooms", style: "height:70px;") %> 
        </div>
        <div class=" contact-detailsrow">
          <div class="col-xs-3">
            <div class="box-icon footer"> <a href="#">
              <div class="circle1 "><i class="fa fa-facebook fa-lg"></i></div>
              </a> </div>
          </div>
          <div class="col-xs-3">
            <div class="box-icon footer"> <a href="https://twitter.com/aha_rooms">
              <div class="circle1"><i class="fa fa-twitter fa-lg"></i></div>
              </a> </div>
          </div>
          <div class="col-xs-3">
            <div class="box-icon footer"> <a href="#">
              <div class="circle1"><i class="fa fa-google fa-lg"></i></div>
              </a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-12">
        <a class="footer2" href="<%= home_index_path %>"><li>Home</li></a>
        <a class="footer2" href="<%= home_about_path %>"><li>About Us</li></a>
        <a class="footer2" href="<%= home_contact_path %>"><li>Contact Us</li></a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-12 ">
        <a class="footer2" href="#"><li>Privacy Policy</li></a>
        <a class="footer2" href="#"><li>Guest Policy</li></a>
       <a  class="footer2" href="terms.html"> <li>Term & Conditions</li></a>
      </div>
      <div class="col-md-2 col-sm-3 col-sm-12">
        <a class="footer2" href="<%= admin_hotels_path %>"><li>Add your hotel</li></a>
        <a class="footer2" href="#"><li>Travel agent</li></a>
      </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-6"> &copy; 2016 AHA-rooms All Rights Reserved </div>
        <div class="col-xs-6 text-right">
          <ul>
            <li>Developed By:<a href="http://octasolutions.pk/">OctaSolutions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>