<header>
  <!-- Navigation -->
  <div class="navbar yamm navbar-default" id="sticky">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a href="index.html" class="navbar-brand">         
        <!-- Logo -->
        <div id="logo">
        <%= image_tag("Logo1.jpg", :alt => "AHA Rooms",id: "default-logo", style: "height:50px;") %> 
        
        
        <!-- <img id="default-logo" src="images/logo-site.png" alt="Starhotel" style="height:44px;"> 
        <img id="retina-logo" src="images/logo-site.png" alt="Starhotel" style="height:44px;">  -->
        </div>
        </a> </div>
      <div id="navbar-collapse-grid" class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown">
           <a href="index.html"><i class="fa fa-mobile fa-lg"></i> &nbsp;AHA-Rooms App</a>
          </li>
          <li class=""> <a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated"><i class="fa fa-user"></i> My Account<b class="caret"></b></a>
            <ul class="dropdown-menu">
            <% if !current_user.present? %>
              <li><a href="<%= new_user_session_path %>"><i class="fa fa-user"></i> &nbsp;LogIn</a></li>
              <li><a href="<%= new_user_registration_path %>"><i class="fa fa-user"></i> &nbsp;New?&nbsp;SignUp</a></li>
              <% else %>
              <li><a href="<%= admin_path %>"><i class="fa fa-user"></i> &nbsp;My Panel</a></li>
              <li><%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-user"></i>&nbsp;Sign Out
              <% end %></li>
              
              <% end %>
            </ul>
          </li>
          <li class="dropdown"> <a href="contact-01.html" >Contact Us</a>
          </li>
          <li class="dropdown"> <a href="#"><i class="fa fa-phone"></i> Book Today &nbsp; 0034971509183</a> 
          </li>
          <li> <a href="#">
              <div id="google_translate_element"></div><script type="text/javascript">
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'de,en,es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
              }
              </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
          </a> 
          </li>
           <!--  <li class="dropdown" id="top-header"> 
              <button class="btn btn-default btn-xs dropdown-toggle js-activated" type="button" data-toggle="dropdown"> English <span class="caret"></span> </button>
              <ul class="dropdown-menu">
                <li> <a href="#"><img width="14" height="11" style="display:inline;" src="images/english.png" alt="eng"> &nbsp; ENGLISH</a> </li>
                <li> <a href="#"><img width="14" height="11" style="display:inline;" src="images/german.png" alt="ger">&nbsp;GERMAN</a> </li>
                <li> <a href="#"><img width="14" height="11" style="display:inline;" src="images/spain.png" alt="eng">&nbsp;SPANISH</a> </li>
              </ul>
            </li> -->
        </ul>
      </div>
    </div>
  </div>
</header>